/*Default styles*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Mooli',cursive;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/*End of Default Styles*/

/* Custom Scroll*/
body::-webkit-scrollbar{
    width: 1.2rem;
}
body::-webkit-scrollbar-track{
    background: #212121;
}
body::-webkit-scrollbar-thumb{
    background-color: #32b0ce;
    border-radius: 5rem;

}
/*End of Custom Scroll*/

/*Container*/
.container{
    width: 100%;
    height: 100%;
    background: #212121;
}

/*Navigation*/

.menu-icon{
    width: 4rem;
    height: 2rem;
    position: fixed;
    top: 7rem;
    right: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
}
.line{
    height: 0.2rem;
    background: #32b0ce;
    transition: all .3s;
}
.line-1,.line-3{
    width: 100%;
}
.line-2{
    width: 70%;
}

.menu-icon:hover .line-1,
.menu-icon:hover .line-3{
    width: 70%;
}
.menu-icon:hover .line-2{
    margin-left: 30%;
}

.navigate .line-1{
    width: 50%;
    transform: translate(103%,0.5rem) rotateZ(25deg);
}
.navigate .line-3{
    width: 50%;
    transform: translate(103%,-0.5rem) rotateZ(-25deg);
}
.navigate .line-2{
    width: 100%;
}
.navigate .menu-icon:hover .line-1,
.navigate .menu-icon:hover .line-3{
    width: 50%;

}
.navigate .menu-icon:hover .line-2{
    margin-left: 0;
}

.navigation{
   width: 100%;
   height: 100vh;
   background: #191919;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   display: flex;
   opacity: 0;
   visibility: hidden;
   transition: all 0.2s;
}
.navigate .navigation{
    opacity: 1;
    visibility: visible;
}
.nav-left{
    width: 50%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;

        img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
       opacity: 0.5;
       transition: all 1s;
    }
}
.nav-left:hover img{
    filter: grayscale(0);
    opacity: 1;
}
.navigate .nav-left{
    opacity: 1;
    visibility: visible;
    transition: all 1s 0.7s;
}

.nav-right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #171717;
    transform: translateX(-200%);
}
.navigate .nav-right{
    transform: translateX(0);
    width: 50%;
    transition: all 1s;
}
.nav-items{
    display: flex;
    flex-direction: column;
    a{
        font-size: 1.8rem;
        margin: 2rem 0;
        text-transform: uppercase;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        span{
            font-family:"Cinzel",sans-serif;
            font-size: 3rem;
            font-weight: 900;
            margin-right: 1rem;
            letter-spacing: 0.2rem;
            position: relative;
        }
    }
}

.navigate .nav-items a{
    opacity: 1;
    visibility: visible;
}
.navigate .nav-items a:nth-child(1){
    transition: opacity 0.5s 1s, color 0.3s;
}
.navigate .nav-items a:nth-child(2){
    transition: opacity 0.5s 1.2s, color 0.3s;
}
.navigate .nav-items a:nth-child(3){
    transition: opacity 0.5s 1.4s, color 0.3s;
}
.navigate .nav-items a:nth-child(4){
    transition: opacity 0.5s 1.6s, color 0.3s;
}
.navigate .nav-items a:nth-child(5){
    transition: opacity 0.5s 1.8s, color 0.3s;
}
.nav-items a:first-child{
    padding-left: 6rem;
    position: relative;
}
.nav-items a:first-child::before{
    content: "";
    width: 4.8rem;
    height: 0.2rem;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: all 0.3s;
}
.nav-items a:first-child:hover::before{
    background: #32b0ce;
}

.nav-items a span::before{
    background: #32b0ce;
    content: "";
    width: 0;
    height: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav-items a:hover span::before{
    width: 100%;
}
.nav-items a:hover{
    color: #32b0ce;
}

/*End of Navigation*/


/*Page Header */
.page-header{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
.page-header .section-heading-sm{
    margin-top: 15rem;
}
/*End of Page Header */

/*Header*/
header{
    width: 100%;
    height: 100vh;
    position: relative;
}


.logo{
    position: absolute;
    top: 3rem;
    left: 25rem;
    span{
        font-family: "Permanent Marker",cursive;
        font-size: 7rem;
        font-style: italic;
        color: #32b0ce;
        text-shadow: 0.5rem 1rem rgba(0,0,0,0.2);
    }
}
.banner{
    position: absolute;
    right: 20rem;
    bottom: 20rem;
    /* bottom: 30rem; */
    text-align: center;
    h3{
        font-family: "Kaushan Script",cursive;
        font-size: 7rem;
        font-weight: 300;
        color: #fff;
        transform: translate(3rem,11rem);
    }
    h1{
        font-size: 15rem;
        letter-spacing: 1rem;
        background-image: url('./../images//text-bg-1.jpg');
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-shadow:0 0.5rem 1rem rgba(0,0,0,0.2);
        span{
            font-size: 25rem;
        }
    }
    h4{
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: 0.7rem;
        color: #32b0ce;
    }
}

/*End Header*/

/*About*/

.about{
    width: 100%;
    background-color: #202020;
    padding: 10rem 0 15rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.about-content-left{
    width: 50%;
    text-align: right;
    padding-right: 6rem;
}
.section-num span{
    font-family: "Cinzel",sans-serif;
    font-size: 25rem;
    font-weight: 900;
    background-image: url('../images/text-bg-2.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow:0 0.5rem 1rem rgba(0,0,0,0.2);
}
.main-btn{
    width: 28rem;
    height: 6rem;
    background-color: #32b0ce;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.main-btn:active{
    transform: translateY(0.2rem);
}
.main-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,transparent,#fff,transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 0.3s;
    
}
.main-btn:hover::before{
    left: 100%;
}
.main-btn a{
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content-right{
    width: 50%;
    padding: 8rem 0 0 6rem;
}
.section-heading-sm{
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #32b0ce;
}
.section-heading-lg{
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #fff;
    margin: 3rem 0;
}
.section-border{
    width: 50rem;
    height: 0.1rem;
    background-color: #333;
    margin-bottom: 3rem;
    position: relative;
}
.section-border::after{
    content: "";
    position: absolute;
    width: 7rem;
    height: 0.7rem;
    background-color: #32b0ce;
    top: 0;
    left: 0;
}

.about p{
    width: 50rem;
    font-size: 1.4rem;
    line-height: 3.5rem;
    margin-bottom: 4rem;
    color: #fff;
}

/*End of About*/

/*Books */

.books{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 15rem 0;
}

.books-content{
    text-align: center;
}

.book-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.book-header{
    text-align: right;
    margin-right: 10rem;
}
.book-header .section-border::after{
    right: 0;
    left: auto;
}
.book-top .section-num span{
    background-image: url('../images/text-bg-3.jpg');
    background-position: 50% 75%;
}
.books-list{
    display: flex;
}
.book{
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem;
    text-align: center;

}



.book img{
    width: 30rem;
    height: auto;
    filter: grayscale(100%);
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.4);
    cursor: pointer;
    transition: filter 1s;
}
.book img:hover {
    filter: grayscale(0%);
}

.book-name{
    font-family: "Kaushan Script",cursive;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #32b0ce;
    margin: 3rem 0;
    letter-spacing: 0.1rem;
}
.book-line{
    width: 10rem;
    height: 0.1rem;
    background-color: rgba(255,255,255,0.1);
    margin-bottom: 3rem;
}
.book-author{
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.5rem;
    
}
.books-content .main-btn{
    margin-top: 10rem;

}

/*End of Books*/

/*Testimonials*/

.testimonials{
    height: 210vh;
    width: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0 15rem 0;
    position: relative;
}
.testimonial-top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    .section-num {
        margin-right: 10rem;
        span{
            background-image: url('../images/text-bg-4.jpg');
        }
    }
}
.feedback{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.feedback-top{
    display: flex;
    align-items: center;
    padding-left: 7rem;
    margin-bottom: 5rem;
    img{
        width: 30rem;
        height: 30rem;
        object-fit: cover;
        border-radius: 2rem;
        border: 0.8rem solid #202020;
        margin-right: 3rem;
        cursor: pointer;
        filter: grayscale(100%);
        transition: filter 1s;
        z-index: 1;
    }
    img:hover{
        filter: grayscale(0);
    }
}
.feedback-heading{
    display: flex;
    width: 50%;
    text-align: center;
    h1{
        font-size: 7rem;
        color: #fff;
        span{
            font-family: "Kaushan Script",cursive;
            font-size: 8rem;
            letter-spacing: 0.2rem;
            color: #32b0ce;
        }
    }
}
.quote-bg{
    background: #32b0ce;
    width: 35rem;
    height: 40rem;
    position: absolute;
    top: 26rem;
    left: 4.5rem;
    border-radius: 3rem;
}
.quote-bg::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    border-bottom: 4rem solid #32b0ce;
    bottom: -3rem;
    left: 1rem;
    transform: rotate(-45deg);
}
.quote{
    width: 80rem;
    height:28rem;
    background-color: #282828;
    border-radius: 3rem;
    position: absolute;
    top: 33rem;
    left: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}
.quote::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    border-bottom: 4rem solid #282828;
    bottom: -3rem;
    left: 0;
    transform: rotate(-45deg);
}
.quote-header{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    i{
        font-size: 8rem;
        color: #32b0ce;
    }
    h1{
        font-size: 2rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        padding: 0 10rem;
    }
}
.quote-body{
    p{
        width: 50rem;
        font-size: 1.2rem;
        color: #ccc;
        margin-bottom: 2.5rem;
        text-align: center;
        line-height: 2.5rem;
    }
}
.quote-stars{
    i{
        font-size: 1.8rem;
        color: #32b0ce;
        margin: 0 0.5rem;
    }
}
.testimonials .main-btn{
    position: absolute;
    left: 50%;
    bottom: 15rem;
    transform: translateX(-50%);
}
/*End of Testimonials*/

/*Footer*/

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 3rem 0;
}
.footer-header{
    text-align: center;
    margin-bottom: 15rem;
}

.footer-header .section-border::after{
    left: 50%;
    transform: translateX(-50%);
}
.footer-content{
    width: 60%;
    display: flex;
    margin-bottom: 10rem;
}
.footer-social{
    width: 30%;
}
.address{
    div{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        i{
            font-size: 3.5rem;
            color: #fff;
            margin-right: 2.3rem;

        }
        span{
            font-size: 1.8rem;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
    }
}
.addres-par{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    padding-left: 6rem;
    span{
        width: 10rem;
        font-size: 1.4rem;
        color: #fff;
        margin-bottom: 0.5rem;
    }
}
.social-media{
    i{
        font-size: 3rem;
        color: #fff;
        margin-right: 3rem;
        cursor: pointer;
    }
}
.footer-form{
    width: 70%;
    form{
        display: flex;
        flex-direction: column;
    }
}
.input-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input{
        width: 30.5rem;
        height: 6rem;
        margin-bottom: 3rem;
    }
}
.input-group input,textarea{
    background: #1a1a1a;
    border: none;
    padding: 1rem;
    color: #ccc;
    font-size: 1.4rem;
    border-radius: 0.5rem;
}
textarea{
    height: 15rem;
    margin-bottom: 3rem;
    resize: none;
}
.footer-form button{
    width: 20rem;
    height: 5rem;
    background-color: #32b0ce;
    margin-left: auto;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1rem;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, 0.1);
}
.footer-form button:active{
    transform: translateY(0.2rem);
}
.footer-bottom{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        color: #ccc;
        font-size: 1.4rem;
    }
    button{
        width: 15rem;
        height: 5rem;
        border: none;
        background: none;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.4rem;
            color: #ccc;
            text-transform: uppercase;
        }
    }
}
/*End of Footer*/

/*End of Container Styles*/

/*Rspondive Styles*/

@media (min-width:1600px){
    .input-group input{
        width: 31rem;
    }
    .book{
        margin: 6rem 3rem;
    }
}
@media(main-width:1440px){
    html{
        font-size: 58%;
    }
}
@media(main-width:1368px){
    html{
        font-size: 55%;
    }
    .banner{
        bottom: 25rem;
    }
    .testimonials{
        height: 170vh;
    }
}

@media (max-width:1280px) {
    .about-content-left{
        width: 45%;
    }
    .about-content-right{
        width: 55%;
    }
    .books-list{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-content{
        width: 70%;
    }
    .footer-bottom{
        width: 70%;
    }
}

@media (max-width:1024px) {
    html{
        font-size: 52%;
    }
    .menu-icon{
        right: 5rem;
    }
    .banner{
        bottom: 20rem;
    }
    .footer-content{
        width: 80%;
    }
    .footer-bottom{
        width: 80%;
    }
    .logo{
        left: 10rem;
    }
}

@media (max-width:820px) {
    html{
        font-size: 48%;
    }
    .banner{
        right: 50%;
        bottom: 50%;
        transform: translate(50%,50%);
    }
    .about-content-left{
        width: 40%;
    }
    .about-content-right{
        width: 60%;
    }
    .section-heading-sm{
        font-size: 1.4rem;
    }
    .about p{
        font-size: 1.6rem;
        width: 45rem;
    }
    .books .books-header{
        width: 35rem;
    }
    .books-header .section-border{
        width: 35rem;
    }
    .testimonials{
        height: 160vh;
    }
    .input-group input{
        width: 27rem;
    }
}

